body{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    font-style: bold;
}

.msg{
    text-align: center;
    color: red;
    font-size: 20px;
}

#submission-box{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    box-sizing: border-box;
    margin-top: 20px;
    border: solid;
    padding: 5px 25px 25px 25px;
    background-color: lightgray;
    width: 300px;
}

#submission-box h2{
    font-family: Arial, Helvetica, sans-serif;
}

#submission-box input{
    display: block;
    padding-left: 15px;
}

#submission-box .btn{
    margin-top: 15px;
}

.output-table{
    margin-top: 20px;
    width: 600px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    box-sizing: border-box;
}

.output-table tr{
    text-align: center;
}
